* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.orange {
  color: #FD6E0A;
}

.btn {
  border: none;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  background-color: #FD6E0A;
  padding: 18px 35px;

  color: white;
  cursor: pointer;
}

.section-heading {
  max-width: 887px;
  text-align: center;
  margin: 0 auto;
}

.about-container h2 {
  font-size: 35px;
  margin-bottom: 30px;
  color: #181818;
}

.about-container p {
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
}

/* this is the shared box size for all  boxes of 1140px */
.skill-container,
.resume-container,
.footer-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}

.resume-container hr {
  margin: 30px 0;
}

/* Main style */
header {
  background-color: #FFF8F3;
  background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
  ;
  background-position: 38px -13px, bottom right;
  background-repeat: no-repeat;
  padding-top: 51px;
}

nav {
  width: 71%;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo h2 {
  font-size: 45px;
  font-weight: bolder;

}

nav .menu {
  display: flex;
  gap: 51px;
  list-style: none;
  align-items: center;
}

nav .menu a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
}

/* nav section has been end here */

/* Hero section or banner design stated from here */
#hero-banner {
  margin: 46px 38px 0 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hero-banner .banner-textcontent {
  max-width: 585px;
}

#hero-banner .banner-textcontent  {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;

}

#hero-banner .banner-textcontent h1 {
  font-size: 85px;
  font-weight: bold;
  margin-bottom: 20px;
}

#hero-banner .banner-textcontent p {
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
}

#hero-banner .banner-img img {
  max-width: 584px;
  vertical-align: middle;

}



/* banner design end here */

/* about section design start from here */
#about-section,
#skill,
#resume {
  margin-top: 130px;
}

#about-section .about-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  background-color: #FFF8F3;
  padding: 131px 157px;

}

.card-info {
  display: flex;
  justify-content: space-around;
}

.card-info .Info p,
h4 {
  font-size: 20px;
  line-height: 30px;
  color: #757575;
}

/* about section end here and next my skill part start here */
.card-container {
  display: flex;
  padding-top: 50px;
  gap: 24px;


}

.card-container .skillcard-info {
  max-width: 247px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px #0000001f;
  transition: transform 0.3s;
  /* smooth hover effect */
}

.card-container .skillcard-info img {
  max-width: 44px;
  margin-bottom: 30px;

}

.card-container .skillcard-info h3 {
  font-size: 20px;
  color: #181818;
  margin-bottom: 20px;
}

.card-container .skillcard-info p {
  font-size: 16px;
  line-height: 18px;
  color: #757575;

}

/* skill part design end here */

/* resume design start from here */
.resume-container {
  display: flex;
  padding-top: 113px;
  gap: 24px;
}

.resume-container .section-title {
  font-size: 30px;
  color: #474747;
  margin-bottom: 30px;
}

.resume-container .edu-card {
  max-width: 511px;
  margin-right: 47px;

}

.edu-card .card-heading {

  font-size: 25px;
  color: #474747;
  margin-bottom: 10px
}

.edu-card .card-title {

  font-size: 20px;
  font-weight: 600;
  color: #757575;
  margin-bottom: 20px;
}

.edu-card .card-text {

  font-size: 16px;
  color: #757575;
  line-height: 28px;
}

.button-center {
  text-align: center;
  padding-top: 50px;
}

/* resume section end here and footer section design start from here */

footer {
  margin-top: 113px;
  background-color: #FFF8F3;
  padding: 130px 0;
}

footer .footer-container {
  display: flex;
  gap: 117px;

}

footer .footer-container .social {
  max-width: 562px;

}

footer .footer-container h2 {
  font-size: 35px;
  color: #181818;
  margin-bottom: 20px;

}

footer .footer-container p {
  font-size: 16px;
  line-height: 28px;
  color: #474747;
  margin-bottom: 30px;
}

.footer-container .icons a {
  margin-right: 24px;
}

.footer-container form input[type="text"],
.footer-container form textarea {
  margin-bottom: 24px;
  color: #757575;
  font-size: 16px;
  line-height: 28px;
  border: none;
  border-radius: 5px;
  padding: 18px 30px;
  width: 461px;
}

/* card effect  */
.first-card:hover {
  transform: rotateY(-15deg) scale(1.3);
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.3);
}

.second-card:hover {
  transform: rotateY(-15deg) scale(1.3);
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.3);
}

.third-card:hover {
  transform: rotateY(-15deg) scale(1.3);
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.3);
}

.btn:hover {
  background-color: rgba(26, 24, 24, 0.199);
}


 /*slide  animation: part */ 
#hero-banner .banner-img img,
#hero-banner .banner-textcontent h1,
#hero-banner .banner-textcontent h2
{
 
  opacity: 0;
  transform: translateX(120px);
  animation: imageSlide 1.5s ease-out forwards;
  animation-delay: 1.2s;
}

@keyframes imageSlide{
  from{
    opacity: 0;
    transform: translateX(120px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}



/* project end here */

/* NOW WE will make this site responsive .so we will do it one by one  section and hide other section and then make it and hide it for this we will use a class */
.hide{
  display: none !important;
}

/* resonponsive for small device */
@media screen and (max-width:576px) {
/* header section */

header {
  
    background:url(../images/header_bg.png),#FFF8F3;
    background-position:bottom right;
    background-repeat:no-repeat;
}
  /* nav section */
nav{
gap: 20px;

}
nav .menu {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}
/* banner section */
#hero-banner {
  margin: 20px;
  text-align: center;
}
#hero-banner .banner-textcontent h2{
  font-size: 35px;
}
#hero-banner .banner-textcontent h1{
  font-size: 45px;
  margin-bottom: auto ;
}

#hero-banner .banner-img img{
  width: 100%;
}

  /* aboutsection */
  #about-section .about-container{
    width: 100%;
    padding:2px;
  }

  .card-info{
    flex-direction: column;
  }
  .about-container p{
    margin-bottom: 10px;
  }
  
   /* skill section */
  #about-section, #skill, #resume {
    margin-top: 50px;
  }
  .skill-container,
 .resume-container,
 .footer-container {
    width:95%;
}

.card-container {
    flex-direction: column;
    padding-top: 50px;
}
.card-container .skillcard-info{
  max-width: 100%;
}
/* resume section   */

.resume-container {
    padding-top: 18px;
    flex-direction: column;
}
.resume-container .section-title {
    font-size: 22px;
    margin-bottom: 10px;
}
.resume-container .edu-card{
  max-width: 100%;
}
.edu-card .card-heading{
  font-size: 20px;
}
.btn{
  font-size: 13px;
  padding: 10px;
}
.button-center{
  padding-top: 5px;
}
/* footer section
 */
footer .footer-container,
nav ,#hero-banner{
  flex-direction: column;
}
.footer-container form input[type="text"],
 .footer-container form textarea {
    width:100%;
}


}