*{
    margin: 0;
    padding:0;
}
 /* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.orange{
  color:#FD6E0A;
}
.btn{
  border: none;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  background-color: #FD6E0A;
  padding: 18px 35px;
  color: white;
}
/* Main style */
header{
  background-color: #FFF8F3;
}
nav{
  width:71%;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
 padding-top: 51px;
  align-items: center;
  margin: 0 auto;
}
.logo h2{
  font-size: 45px;
  font-weight: bolder;

}
nav .menu{
  display: flex;
  gap: 51px;
  list-style: none;
  align-items: center;
}
nav .menu a{
  text-decoration: none;
  color: #474747;
  font-size: 20px;
}
/* nav section has been end here */
