* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.orange {
  color: #FD6E0A;
}

.btn {
  border: none;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  background-color: #FD6E0A;
  padding: 18px 35px;
  color: white;
  cursor: pointer;
}

.section-content{
    max-width: 887px;
    text-align: center;
    margin: 0 auto ;
}
.about-content h2{
  font-size: 35px;
  margin-bottom: 30px;
  color: #181818;
}
.about-content p{
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
}
/* Main style */
header {
  background-color: #FFF8F3;
  background: url(../images/developer.png),url(../images/header_bg.png), #FFF8F3;;
  background-position: top left ,bottom right;
  background-repeat: no-repeat;
   padding-top: 51px;
}

nav {
  width: 71%;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo h2 {
  font-size: 45px;
  font-weight: bolder;

}

nav .menu {
  display: flex;
  gap: 51px;
  list-style: none;
  align-items: center;
}

nav .menu a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
}

/* nav section has been end here */

/* Hero section or banner design stated from here */
#hero-banner {
  margin: 46px 38px 0 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hero-banner .banner-textcontent {
  max-width: 585px;
}

#hero-banner .banner-textcontent h2 {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;

}

#hero-banner .banner-textcontent h1 {
  font-size: 85px;
  font-weight: bold;
  margin-bottom: 20px;
}

#hero-banner .banner-textcontent p {
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom:30px;
}
#hero-banner .banner-img img{
  max-width: 584px;
  vertical-align: middle;


}
/* banner design end here */

/* about section design start from here */
#about-section{
  margin-top: 130px;
}
#about-section .about-container{
  width: 71%;
  max-width: 1140px;
  margin:0 auto;
  text-align: center;
  background-color: #FFF8F3;
  padding: 131px 157px;

}
.card-info{
  display: flex;
  justify-content: space-around;
}
.card-info .Info p ,h4{
  font-size: 20px;
  line-height: 30px;
  color:#757575;
}

/* about section end here and next my skill part start here */
#skill{
  padding-top: 130px;


}
.skill-container{
  width: 71%;
  max-width:1140px;
  margin:0 auto;

}
.card-container{
  display: flex;
  padding-top: 50px;
  gap: 24px;
  
}
.card-container .skillcard-info{
  max-width: 247px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px #0000001f;
}
.card-container .skillcard-info img{
  max-width: 44px;
  margin-bottom: 30px;
}
.card-container .skillcard-info h3{
  font-size: 20px;
  color: #181818;
  margin-bottom: 20px;
}
.card-container .skillcard-info p{
  font-size: 16px;
  line-height: 18px;
  color: #757575;

}
/* skill part design end here */

